# Acquire Data for Classification

# Big Ideas
- Cache your data to speed up your data acquisition.
- Helper functions are your friends.

# Objectives
By the end of the acquire lesson and exercises, you will be able to...
- read data into a pandas DataFrame using the following modules:

In [ ]:
# # pydataset

# from pydataset import data
# df = data('dataset_name')

In [ ]:
# # seaborn datasets

# import seaborn as sns
# df = sns.load_dataset('dataset_name')

In [ ]:
import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password

# To access pydataset data table use:
from pydataset import data

4. In a jupyter notebook, `classification_exercises.ipynb`, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, `df_iris`, from this data.
- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

## 4. Create `df_iris`

- Use a python module (pydata or seaborn datasets) containing datasets as a source for the iris data.

In [ ]:
data('iris', show_doc=True)

In [ ]:
# Using pydataset

df_iris = data('iris')
df_iris.head(1)

# Does pydatataset not have the range column like seaborn does?  
# Also does it capitaliing column names affect anything?

In [ ]:
# Using seaborn -- love the column names.

df_iris = sns.load_dataset('iris')
df_iris.head(1)

### Print the first 3 rows.

In [ ]:
df_iris.head(3)

In [ ]:
df_iris.iloc[0:3]

### Print the number of rows and columns (shape).

In [ ]:
df_iris.shape

--------------------------

### Print the column names.

In [ ]:
df_iris.columns

In [ ]:
# Return a nice list of coluns if I want to grab and use them later.

df_iris.columns.to_list()

In [ ]:
for column in df_iris.columns:
    print(column)

## Print the data type of each column.

In [ ]:
# Return just data types.

df_iris.dtypes # For one data type it's just 'dtype'

In [ ]:
df_iris.info()

In [ ]:
# This method returns the summary statistics for numeric variable in my df.

stats = df_iris.describe().T
stats

In [ ]:
# I can calculate a range for each numeric variable and select certain columns of interest.

stats['range'] = stats['max'] - stats['min']
stats

In [ ]:
stats[['mean', '50%', 'std']]
# Use double brackets to make a list of the columns

In [ ]:
subset_of_columns = ['mean', '50%', 'std']
stats[subset_of_columns]

5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.
- assign the first 100 rows to a new dataframe, df_google_sheets_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

## Create `df_google`
- Read the data from a Google sheet into a dataframe, df_google.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1kcrY0Q2IGFaEg0OgWxJORGCC0tNjH-L42Z0Q-4ajIUY/edit#gid=1023018493'
# Grabbed the Sheets URL.

In [ ]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
# Turns the Sheets address into a CSV export URL.

In [ ]:
df_google = pd.read_csv(csv_export_url)
df_google
# Uses the pandas '`pd.read_csv()` function to read the data

In [ ]:
# Print the first 3 rows.

df_google.head(3)

In [ ]:
# Print the number of rows and columns.
df_google.shape

In [ ]:
# Print the column names.
df_google.columns.to_list()

In [ ]:
# Print the data type of each column.
df_google.dtypes

In [ ]:
# Print the sumary statistics for each of the numeric variables.
df_google.describe().T

## Print the unique values for each of your categorical variables.

In [ ]:
for col in df_google.columns:
    
        if df_google[col].dtypes == 'object':
            print(f'{col} has {df_google[col].nunique()} unique vlaues.')

In [ ]:
for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(df_google[col].value_counts())

6. Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.
- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

## 6. Create `df_excel`
- Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx`, sheet_name='Table1_CustDetails')

In [ ]:
help(pd.read_excel)

In [ ]:
df_excel = pd.read_excel('Jason Turner - jemison_spreadsheet_exercises.xlsx', sheet_name='Table1_CustDetails')

In [ ]:
# Assign the first 100 rows to a new dataframe, `df_excel_sample`.
df_excel.iloc[0:100]
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

In [ ]:
# Print the number of rows of your original dataframe.
df_excel.shape[0]

In [ ]:
# Print the first 5 column names.
df_excel.columns[:5]

In [ ]:
# Print the column names that have a data type of object.
df_excel.select_dtypes(include='object').head()

In [ ]:
df_excel.select_dtypes(include='object').columns.tolist()

In [ ]:
df_excel.select_dtypes(include=['object', 'int64']).head()
# You can pass of list of the data types that you want to include or exclude.

In [ ]:
# What if we want to exclude floats

df_excel.select_dtypes(exclude=['float64']).head()

### Compute the range for each of the numeric variables.

In [ ]:
# Some of these numeric columns are more like encoded categorical variables.

df_excel.describe().T

In [ ]:
# I can select just the true numeric variables to declutter my results.

telco_stats = df_excel[['monthly_charges', 'total_charges']].describe().T
telco_stats

In [ ]:
telco_stats['range'] = telco_stats['max'] - telco_stats['min']
telco_stats

7. Read the data from this google sheet into a dataframe, df_google.
- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)
print(df_google.head(3))
print(df_google.shape)
print(df_google.columns.to_list())
print(df_google.info)
print(df_google.describe())
for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Make a new python module, acquire.py

**Make sure your `env.py` and csv files are *not* being pushed to GitHub!**

# Exercise 1 for `acquire.py`
Make a function named `get_titanic_data` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
import acquire

In [ ]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

## Exercise 2 for `acquire.py`

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [ ]:
iris_df = acquire.get_iris_data()
iris_df.head()

### Exercise 3 for `acquire.py`

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [ ]:
telco_df = acquire.get_telco_data()
telco_df.head()

### Add Caching to the `acquire.py` functions

Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [ ]:
# if os.path.isfile('titanic_df.csv'):
        
#         # If csv file exists, read in data from csv file.
#         df = pd.read_csv('titanic_df.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame.
#         df = new_titanic_data()
        
#         # Write DataFrame to a csv file.
#         df.to_csv('titanic_df.csv')
        
# if os.path.isfile('iris_df.csv'):
        
#         # If csv file exists read in data from csv file.
#         df = pd.read_csv('iris_df.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame
#         df = new_iris_data()
        
#         # Cache data
#         df.to_csv('iris_df.csv')
        
# if os.path.isfile('telco.csv'):
        
#         # If csv file exists read in data from csv file.
#         df = pd.read_csv('telco.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame
#         df = new_telco_data()
        
#         # Cache data
#         df.to_csv('telco.csv')

# Data Preparation

In [1]:
import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password

# To access pydataset data table use:
from pydataset import data

##### Use the Iris Data to:

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

1. Use the function defined in acquire.py to load the iris data.

In [3]:
import acquire
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

2. Drop the `species_id` and `measurement_id` columns.

In [4]:
# def clean_iris(df):
#     '''
    
#     '''
#     df = df.drop_duplicates()
#     df = df.drop(columns=['species_id', 'measurement_id'])
    
#     dummy_df = pd.get_dummies(df['species'], drop_first=False)

#     df = pd.concat([df, dummy_df], axis=1)

#     return df

3. Rename the `species_name` column to just `species`.

In [5]:
def clean_iris(df):
    '''
    
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns= {'species_name':'species'})
    dummy_df = pd.get_dummies(df['species'], drop_first=False)

    df = pd.concat([df, dummy_df], axis=1)

    return df

In [9]:
clean_iris(iris_df)

KeyError: "['measurement_id'] not found in axis"

In [7]:
def split_iris(df):
    '''
    take in a Data Frame and return train, validate, and test DataFrames; stratify on species.
    return train, validate, test DataFrames.
    '''
    
    #
    train, validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.species)
    
    #
    train, validate = train_test_split(train_validate,
                                       
                                       stratify=train_valdiate.species)
    train, validate, test = split_iris_data(df)
    
    return train, validate, test

In [8]:
split_iris(iris_df)

AttributeError: 'DataFrame' object has no attribute 'species'

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

5. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris_data(df):
    '''
    
    '''
    df = clean_iris(df)
    train, validate, test = split_iris(df)
    returner train, validate, test

##### Use the Titanic dataset to:

1. Use the function defined in `acquire.py` to load the Titanic data.

In [ ]:
import acquire
titanic_df = acquire.get_titanic_data()
titanic_df.head(5)

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
def clean_titanic(df):
    '''
    This function will clean the data prior to splitting.
    '''
    # Drops any duplicate values
    df = df.drop_duplicates()
    
    # Drops columns that are already represented by other columns
    cols_to_drop = ['deck', 'embarked', 'class']
    dr = df.drop(columns = cols_to_drop)
    
    # Fills the small number of null values for embark_town with the mode
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    
    # Uses one-hot encoding to create dummies of string columns for future modeling
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    df = pd.concat([df, dummy_df], axis=1)
    
    return df

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
def split_titanic(df):
    '''
    
    '''
    #
    train, test = train_test_split(df, test_size = .2, random_state=123, stratify=df.survived)
    
    #
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)
    
    return train, validate, test

In [ ]:
split_titanic(titanic_df)

In [ ]:
def impute_titanic_mode(train, validate, test):

In [ ]:
def impute_mean_age(train, validate, test):

4. Create a function named `prep_titanic` that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    '''
    This function takes in a df and will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'], fill missing embark_town with 'Southampton'
    create dummy vars from sex and embark_town, and perform a train, validate, test split. 
    Returns train, validate, and test DataFrames
    '''
    df = clean_titanic(df)
    train, validate, test = split_titanic(df)
    return train, validate, test

prep_titanic(titanic_df)

In [ ]:
# def

##### Use the Telco dataset to:

1. Use the function defined in `acquire.py` to load the Telco data.

In [ ]:
import acquire
telco_df = acquire.get_telco_data()
telco_df.head()

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
def clean_telco(df):
    '''
    This function will clean the data prior to splitting.
    '''
    # Drops any duplicate values
    df = df.drop_duplicates()
    
    # Drop duplicate columns
    df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id'], inplace=True)
        
    return df

In [ ]:
clean_telco(telco_df)

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
def split_telco(df):
    '''
    This function will take in a DataFrame and return train, validate, and test DataFrames; stratify on total_charges 
    return train, validate, test DataFrames
    '''
    
    #
    train, test = train_test_split(df, test_size = .2, random_state=123, stratify=df.senior_citizen)
    
    #
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.senior_citizen)
    
    return train, validate, test

In [ ]:
split_telco(telco_df)

4. Create a function named `prep_telco` that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
def prep_telco(df):
    # Drop duplicate columns
    # df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id'], inplace=True)
    
    # Drop null values stored as whitespace
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    
    # Convert to correct datatype
    df['total_charges'] = df.total_charges.astype(float)
    
    # Convert binary categorical variables to numeric.  It's similar to using one-hot
    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['churn_endcoded'] = df.churn.map({'Yes': 1, 'No': 0})
    
    # Get dummies for non-binary categorical variables
    dummy_df = pd.get_dummies(df[['multiple_lines', \
                                  'online_security', \
                                  'online_backup', \
                                  'tech_support', \
                                  'streaming_tv', \
                                  'streaming_movies', \
                                  'contract_type', \
                                  'internet_service_type', \
                                  'payment_type']], dummy_na=False, \
                                  drop_first=True)
    
    # Concatenate dummy dataframe to original
    df = pd.concat([df, dummy_df], axis=1)
    
    # split the data
    train, validate, test = split_telco(df)
    
    return train, validate, test

In [ ]:
prep_telco(telco_df)

# Exploratory Analysis
### Exercises Part I

#### Section 1 - iris_db:
1. Acquire, prepare & split your data.

In [ ]:
import acquire
import prepare
iris_df = acquire.get_iris_data()
iris_df.head()

In [ ]:
prep_iris(iris_df)

2. Univariate Stats

- For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

- For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

- Document takeaways & any actions.

3. Bivariate Stats

- Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

- For each measurement type, compute the descriptive statistics for each species.

- For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

- Document takeaways & any actions.

4. Multivariate Stats

- Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

- Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

- Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

- Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

- Document takeaways and any actions.

### Exercises Part II
Explore your `titanic` dataset more completely

In [ ]:
import acquire
import prepare
titanic_df = acquire.get_titanic_data()
titanic_df.head()

- Determine drivers of the target variable

- Determine if certain columns should be dropped

- Determine if it would be valuable to bin some numeric columns

- Determine if it would be valuable to combine multiple columns into one.

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.

### Exercises Part III

- Explore your `telco` data to discover drivers of churn

- Determine if certain columns should be dropped

- Determine if it would be valuable to bin some numeric columns

- Determine if it would be valuable to combine multiple columns into one.

What are your drivers of churn?

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.