# Acquire Data for Classification

# Big Ideas
- Cache your data to speed up your data acquisition.
- Helper functions are your friends.

# Objectives
By the end of the acquire lesson and exercises, you will be able to...
- read data into a pandas DataFrame using the following modules:

In [1]:
# # pydataset

# from pydataset import data
# df = data('dataset_name')

In [2]:
# # seaborn datasets

# import seaborn as sns
# df = sns.load_dataset('dataset_name')

In [3]:
import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password

# To access pydataset data table use:
from pydataset import data

4. In a jupyter notebook, `classification_exercises.ipynb`, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, `df_iris`, from this data.
- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

## 4. Create `df_iris`

- Use a python module (pydata or seaborn datasets) containing datasets as a source for the iris data.

In [4]:
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [5]:
# Using pydataset

df_iris = data('iris')
df_iris.head(1)

# Does pydatataset not have the range column like seaborn does?  
# Also does it capitaliing column names affect anything?

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa

In [6]:
# Using seaborn -- love the column names.

df_iris = sns.load_dataset('iris')
df_iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

### Print the first 3 rows.

In [7]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [8]:
df_iris.iloc[0:3]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

### Print the number of rows and columns (shape).

In [9]:
df_iris.shape

(150, 5)

--------------------------

### Print the column names.

In [10]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
# Return a nice list of coluns if I want to grab and use them later.

df_iris.columns.to_list()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [12]:
for column in df_iris.columns:
    print(column)

sepal_length
sepal_width
petal_length
petal_width
species

## Print the data type of each column.

In [13]:
# Return just data types.

df_iris.dtypes # For one data type it's just 'dtype'

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
# This method returns the summary statistics for numeric variable in my df.

stats = df_iris.describe().T
stats

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [16]:
# I can calculate a range for each numeric variable and select certain columns of interest.

stats['range'] = stats['max'] - stats['min']
stats

              count      mean       std  min  25%   50%  75%  max  range
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9    3.6
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4    2.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9    5.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5    2.4

In [17]:
stats[['mean', '50%', 'std']]
# Use double brackets to make a list of the columns

                  mean   50%       std
sepal_length  5.843333  5.80  0.828066
sepal_width   3.057333  3.00  0.435866
petal_length  3.758000  4.35  1.765298
petal_width   1.199333  1.30  0.762238

In [18]:
subset_of_columns = ['mean', '50%', 'std']
stats[subset_of_columns]

                  mean   50%       std
sepal_length  5.843333  5.80  0.828066
sepal_width   3.057333  3.00  0.435866
petal_length  3.758000  4.35  1.765298
petal_width   1.199333  1.30  0.762238

5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.
- assign the first 100 rows to a new dataframe, df_google_sheets_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

## Create `df_google`
- Read the data from a Google sheet into a dataframe, df_google.

In [19]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1kcrY0Q2IGFaEg0OgWxJORGCC0tNjH-L42Z0Q-4ajIUY/edit#gid=1023018493'
# Grabbed the Sheets URL.

In [20]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
# Turns the Sheets address into a CSV export URL.

In [21]:
df_google = pd.read_csv(csv_export_url)
df_google
# Uses the pandas '`pd.read_csv()` function to read the data

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

In [22]:
# Print the first 3 rows.

df_google.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8

In [23]:
# Print the number of rows and columns.
df_google.shape

(7049, 13)

In [24]:
# Print the column names.
df_google.columns.to_list()

['customer_id',
 'gender',
 'is_senior_citizen',
 'partner',
 'dependents',
 'phone_service',
 'internet_service',
 'contract_type',
 'payment_type',
 'monthly_charges',
 'total_charges',
 'churn',
 'tenure']

In [25]:
# Print the data type of each column.
df_google.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
tenure               float64
dtype: object

In [26]:
# Print the sumary statistics for each of the numeric variables.
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.0000,0.00,0.000,1.00
phone_service,7049.0,1.324585,0.642709,0.00,1.0000,1.00,2.000,2.00
internet_service,7049.0,1.222585,0.779068,0.00,1.0000,1.00,2.000,2.00
contract_type,7049.0,0.690878,0.833757,0.00,0.0000,0.00,1.000,2.00
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80
tenure,7049.0,32.380068,24.594926,0.00,8.7000,28.70,55.200,79.30

## Print the unique values for each of your categorical variables.

In [27]:
for col in df_google.columns:
    
        if df_google[col].dtypes == 'object':
            print(f'{col} has {df_google[col].nunique()} unique vlaues.')

customer_id has 7043 unique vlaues.
gender has 2 unique vlaues.
partner has 2 unique vlaues.
dependents has 2 unique vlaues.
payment_type has 4 unique vlaues.
churn has 2 unique vlaues.

In [28]:
for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(df_google[col].value_counts())

0048-LUMLS    2
0042-RLHYP    2
0042-JVWOJ    2
0040-HALCW    2
0036-IHMOT    2
             ..
3363-EWLGO    1
3363-DTIVD    1
3359-DSRKA    1
3354-OADJP    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
Male      3558
Female    3491
Name: gender, dtype: int64
No     3642
Yes    3407
Name: partner, dtype: int64
No     4934
Yes    2115
Name: dependents, dtype: int64
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1548
Credit card (automatic)      1524
Name: payment_type, dtype: int64
No     5179
Yes    1870
Name: churn, dtype: int64

6. Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.
- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

## 6. Create `df_excel`
- Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx`, sheet_name='Table1_CustDetails')

In [29]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options: 'StorageOptions' = None)
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions. Lists of strings/integers are used to request
        multiple sheets. Specify None to get all sheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All sheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    usecols : int, str, list-like, or callable default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed.
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
        Engine compatibility :

        - "xlrd" supports old-style Excel files (.xls).
        - "openpyxl" supports newer Excel file formats.
        - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
        - "pyxlsb" supports Binary Excel files.

        .. versionchanged:: 1.2.0
            The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
            now only supports old-style ``.xls`` files.
            When ``engine=None``, the following logic will be
            used to determine the engine:

           - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
             then `odf <https://pypi.org/project/odfpy/>`_ will be used.
           - Otherwise if ``path_or_buffer`` is an xls format,
             ``xlrd`` will be used.
           - Otherwise if ``path_or_buffer`` is in xlsb format,
             ``pyxlsb`` will be used.

             .. versionadded:: 1.3.0
           - Otherwise ``openpyxl`` will be used.

             .. versionchanged:: 1.3.0

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.

        .. deprecated:: 1.3.0
            convert_float will be removed in a future version

    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a local path or
        a file-like buffer. See the fsspec and backend storage implementation
        docs for the set of allowed keys and values.

        .. versionadded:: 1.2.0

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [30]:
df_excel = pd.read_excel('Jason Turner - jemison_spreadsheet_exercises.xlsx', sheet_name='Table1_CustDetails')

In [31]:
# Assign the first 100 rows to a new dataframe, `df_excel_sample`.
df_excel.iloc[0:100]
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

(100, 13)

In [32]:
# Print the number of rows of your original dataframe.
df_excel.shape[0]

7049

In [33]:
# Print the first 5 column names.
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [34]:
# Print the column names that have a data type of object.
df_excel.select_dtypes(include='object').head()

  customer_id  gender partner dependents      payment_type churn
0  0002-ORFBO  Female     Yes        Yes      Mailed check    No
1  0003-MKNFE    Male      No         No      Mailed check    No
2  0004-TLHLJ    Male      No         No  Electronic check   Yes
3  0011-IGKFF    Male     Yes         No  Electronic check   Yes
4  0013-EXCHZ  Female     Yes         No      Mailed check   Yes

In [35]:
df_excel.select_dtypes(include='object').columns.tolist()

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [36]:
df_excel.select_dtypes(include=['object', 'int64']).head()
# You can pass of list of the data types that you want to include or exclude.

  customer_id  gender partner dependents      payment_type churn
0  0002-ORFBO  Female     Yes        Yes      Mailed check    No
1  0003-MKNFE    Male      No         No      Mailed check    No
2  0004-TLHLJ    Male      No         No  Electronic check   Yes
3  0011-IGKFF    Male     Yes         No  Electronic check   Yes
4  0013-EXCHZ  Female     Yes         No      Mailed check   Yes

In [37]:
# What if we want to exclude floats

df_excel.select_dtypes(exclude=['float64']).head()

  customer_id  gender partner dependents      payment_type churn
0  0002-ORFBO  Female     Yes        Yes      Mailed check    No
1  0003-MKNFE    Male      No         No      Mailed check    No
2  0004-TLHLJ    Male      No         No  Electronic check   Yes
3  0011-IGKFF    Male     Yes         No  Electronic check   Yes
4  0013-EXCHZ  Female     Yes         No      Mailed check   Yes

### Compute the range for each of the numeric variables.

In [38]:
# Some of these numeric columns are more like encoded categorical variables.

df_excel.describe().T

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.000000,0.000000,0.000000,1.000000
phone_service,7049.0,1.324585,0.642709,0.00,1.000000,1.000000,2.000000,2.000000
internet_service,7049.0,1.222585,0.779068,0.00,1.000000,1.000000,2.000000,2.000000
contract_type,7049.0,0.690878,0.833757,0.00,0.000000,0.000000,1.000000,2.000000
monthly_charges,7049.0,64.747014,30.099460,18.25,35.450000,70.350000,89.850000,118.750000
total_charges,7038.0,2283.043883,2266.521984,18.80,401.587500,1397.100000,3793.775000,8684.800000
tenure,7049.0,32.379866,24.595524,0.00,8.733456,28.683425,55.229399,79.341772

In [39]:
# I can select just the true numeric variables to declutter my results.

telco_stats = df_excel[['monthly_charges', 'total_charges']].describe().T
telco_stats

,count,mean,std,min,25%,50%,75%,max
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80

In [40]:
telco_stats['range'] = telco_stats['max'] - telco_stats['min']
telco_stats

,count,mean,std,min,25%,50%,75%,max,range
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75,100.5
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80,8666.0

7. Read the data from this google sheet into a dataframe, df_google.
- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [41]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)
print(df_google.head(3))
print(df_google.shape)
print(df_google.columns.to_list())
print(df_google.info)
print(df_google.describe())
for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
(891, 12)
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                    Name     Sex   Age  SibSp  \
0                                Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                                 Heikkinen, Miss. Laina  female  26.0      0
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                               Allen, Mr. William Henry    male  35.0      0
..                                                   ...     ...   ...    ...
886                                Montvila, Rev. Juozas    male  27.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
888             Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                                Behr, Mr. Karl Howell    male  26.0      0
890                                  Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

Make a new python module, acquire.py

**Make sure your `env.py` and csv files are *not* being pushed to GitHub!**

# Exercise 1 for `acquire.py`
Make a function named `get_titanic_data` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [42]:
import acquire

In [43]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

## Exercise 2 for `acquire.py`

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [44]:
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

### Exercise 3 for `acquire.py`

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [45]:
telco_df = acquire.get_telco_data()
telco_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

### Add Caching to the `acquire.py` functions

Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [46]:
# if os.path.isfile('titanic_df.csv'):
        
#         # If csv file exists, read in data from csv file.
#         df = pd.read_csv('titanic_df.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame.
#         df = new_titanic_data()
        
#         # Write DataFrame to a csv file.
#         df.to_csv('titanic_df.csv')
        
# if os.path.isfile('iris_df.csv'):
        
#         # If csv file exists read in data from csv file.
#         df = pd.read_csv('iris_df.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame
#         df = new_iris_data()
        
#         # Cache data
#         df.to_csv('iris_df.csv')
        
# if os.path.isfile('telco.csv'):
        
#         # If csv file exists read in data from csv file.
#         df = pd.read_csv('telco.csv', index_col=0)
        
#     else:
        
#         # Read fresh data from db into a DataFrame
#         df = new_telco_data()
        
#         # Cache data
#         df.to_csv('telco.csv')

# Data Preparation

In [47]:
import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password

# To access pydataset data table use:
from pydataset import data

##### Use the Iris Data to:

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

1. Use the function defined in acquire.py to load the iris data.

In [49]:
import acquire
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [63]:
iris_df

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

2. Drop the `species_id` and `measurement_id` columns.

In [56]:
def clean_iris(df):
    '''
    
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id', 'measurement_id'])
    
    dummy_df = pd.get_dummies(df['species'], drop_first=False)

    df = pd.concat([df, dummy_df], axis=1)

    return df

3. Rename the `species_name` column to just `species`.

In [57]:
def clean_iris(df):
    '''
    
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns= {'species_name':'species'})
    dummy_df = pd.get_dummies(df['species'], drop_first=False)

    df = pd.concat([df, dummy_df], axis=1)

    return df

In [62]:
clean_iris(iris_df)

KeyError: "['measurement_id'] not found in axis"

In [58]:
def split_iris(df):
    '''
    take in a Data Frame and return train, validate, and test DataFrames; stratify on species.
    return train, validate, test DataFrames.
    '''
    
    #
    train, validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.species)
    
    #
    train, validate = train_test_split(train_validate,
                                       
                                       stratify=train_valdiate.species)
    train, validate, test = split_iris_data(df)
    
    return train, validate, test

In [59]:
split_iris(iris_df)

AttributeError: 'DataFrame' object has no attribute 'species'

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

5. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris_data(df):
    '''
    
    '''
    df = clean_iris(df)
    train, validate, test = split_iris(df)
    returner train, validate, test

##### Use the Titanic dataset to:

1. Use the function defined in `acquire.py` to load the Titanic data.

In [ ]:
import acquire
titanic_df = acquire.get_titanic_data()
titanic_df.head(5)

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
def clean_titanic(df):
    '''
    This function will clean the data prior to splitting.
    '''
    # Drops any duplicate values
    df = df.drop_duplicates()
    
    # Drops columns that are already represented by other columns
    cols_to_drop = ['deck', 'embarked', 'class']
    dr = df.drop(columns = cols_to_drop)
    
    # Fills the small number of null values for embark_town with the mode
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    
    # Uses one-hot encoding to create dummies of string columns for future modeling
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    df = pd.concat([df, dummy_df], axis=1)
    
    return df

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
def split_titanic(df):
    '''
    
    '''
    #
    train, test = train_test_split(df, test_size = .2, random_state=123, stratify=df.survived)
    
    #
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)
    
    return train, validate, test

In [ ]:
split_titanic(titanic_df)

In [ ]:
def impute_titanic_mode(train, validate, test):

In [ ]:
def impute_mean_age(train, validate, test):

4. Create a function named `prep_titanic` that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    '''
    This function takes in a df and will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'], fill missing embark_town with 'Southampton'
    create dummy vars from sex and embark_town, and perform a train, validate, test split. 
    Returns train, validate, and test DataFrames
    '''
    df = clean_titanic(df)
    train, validate, test = split_titanic(df)
    return train, validate, test

prep_titanic(titanic_df)

In [ ]:
# def

##### Use the Telco dataset to:

1. Use the function defined in `acquire.py` to load the Telco data.

In [ ]:
import acquire
telco_df = acquire.get_telco_data()
telco_df.head()

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
def clean_telco(df):
    '''
    This function will clean the data prior to splitting.
    '''
    # Drops any duplicate values
    df = df.drop_duplicates()
    
    # Drop duplicate columns
    df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id'], inplace=True)
        
    return df

In [ ]:
clean_telco(telco_df)

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
def split_telco(df):
    '''
    This function will take in a DataFrame and return train, validate, and test DataFrames; stratify on total_charges 
    return train, validate, test DataFrames
    '''
    
    #
    train, test = train_test_split(df, test_size = .2, random_state=123, stratify=df.senior_citizen)
    
    #
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.senior_citizen)
    
    return train, validate, test

In [ ]:
split_telco(telco_df)

4. Create a function named `prep_telco` that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
def prep_telco(df):
    # Drop duplicate columns
    # df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id'], inplace=True)
    
    # Drop null values stored as whitespace
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    
    # Convert to correct datatype
    df['total_charges'] = df.total_charges.astype(float)
    
    # Convert binary categorical variables to numeric.  It's similar to using one-hot
    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['churn_endcoded'] = df.churn.map({'Yes': 1, 'No': 0})
    
    # Get dummies for non-binary categorical variables
    dummy_df = pd.get_dummies(df[['multiple_lines', \
                                  'online_security', \
                                  'online_backup', \
                                  'tech_support', \
                                  'streaming_tv', \
                                  'streaming_movies', \
                                  'contract_type', \
                                  'internet_service_type', \
                                  'payment_type']], dummy_na=False, \
                                  drop_first=True)
    
    # Concatenate dummy dataframe to original
    df = pd.concat([df, dummy_df], axis=1)
    
    # split the data
    train, validate, test = split_telco(df)
    
    return train, validate, test

In [ ]:
prep_telco(telco_df)

# Exploratory Analysis
### Exercises Part I

#### Section 1 - iris_db:
1. Acquire, prepare & split your data.

In [ ]:
import acquire
import prepare
iris_df = acquire.get_iris_data()
iris_df.head()

In [ ]:
prep_iris(iris_df)

2. Univariate Stats

- For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

- For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

- Document takeaways & any actions.

3. Bivariate Stats

- Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

- For each measurement type, compute the descriptive statistics for each species.

- For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

- Document takeaways & any actions.

4. Multivariate Stats

- Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

- Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

- Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

- Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

- Document takeaways and any actions.

### Exercises Part II
Explore your `titanic` dataset more completely

In [ ]:
import acquire
import prepare
titanic_df = acquire.get_titanic_data()
titanic_df.head()

- Determine drivers of the target variable

- Determine if certain columns should be dropped

- Determine if it would be valuable to bin some numeric columns

- Determine if it would be valuable to combine multiple columns into one.

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.

### Exercises Part III

- Explore your `telco` data to discover drivers of churn

- Determine if certain columns should be dropped

- Determine if it would be valuable to bin some numeric columns

- Determine if it would be valuable to combine multiple columns into one.

What are your drivers of churn?

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.